.splitScreen {
  position: fixed;
  width: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0.9;
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: center;
  align-items: center;

  &.show {
    visibility: visible;
  }
  .transition, .nav-links{
    display: flex;
    flex-flow: column wrap;
    width: 50%;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100vh;
    overflow: hidden;
    @include transition();


      
  }
  .nav-links{
    margin: 0;
    padding: 0;
    background-color: rgba($color: $primaryColor, $alpha: 0.7 );
    transform: translate3d(0, 100%, 0);
    border: 0.5px solid white;
    @include transition();
    font-size: 1.5rem;
    &.show{
      transform: translate3d(0, 0, 0);
      // width: 100%;
    }
    

  }
  .transition{
    background-color: rgba($color: $primaryColor, $alpha: 3.0 );
    transform: translate3d(0, -100%, 0);
    border: 1px solid white;
    // width: 100%;
    @include transition();
    .logo{
      background: url(images.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.show{
      transform: translate3d(0, 0, 0);
    }
  }
    
    // .nav-links, .nav-item{
    //   background-color: rgba($color: $primaryColor, $alpha: 0.5);
    //   display: flex;
    //   flex-flow: column wrap;
    //   width: 50%;
    // }
   
    // text-align: center;
    // justify-content: center;
    // align-items: center;
  }

//   &.show {
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//     z-index: 2;
//     background-color: rgba(0, 0, 0, 0.8);
//     @include transition();
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     text-align: center;
//     justify-content: center;
//     align-items: center;
//   }
