@import "config";
@import "menu";
@import "overlay";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @include background() background-color: $primaryColor;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  // background: url(../dist/background.jpg) no-repeat cover cover/center;
  line-height: 1.5;
  overflow: hidden;
}
ul {
  list-style: none;
  li {
    color: white;
  }
}
a {
  color: white;
  cursor: pointer;

  padding: 0.2em;
  &:hover {
    color: $secondaryColor;
    text-align: center;
    justify-content: center;
    align-items: center;
    @include transition();
  }
}
header {
  margin-top: 35vh;
  overflow: hidden;
  padding: 2.7rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  span {
    color: $secondaryColor;
  }
}
h2 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
  background: rgba($primaryColor, 0.1);
  padding: 0.3rem;
}
.nav-list {
  display: none;
  &.show {
    display: block;
  }
}
.fab {
  font-weight: bold;
}
