$primaryColor: #444;
$secondaryColor: #eece1a;

@mixin transition {
  transition: all 0.8s ease-out;
}
@mixin background {
  background: url(../css/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($primaryColor, 0.6);
    z-index: -2;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  @include background() background-color: $primaryColor;
  color: white;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  // background: url(../dist/background.jpg) no-repeat cover cover/center;
  line-height: 1.5;
}
ul {
  list-style: none;
  li {
    color: white;
  }
}
a {
  color: white;
  cursor: pointer;

  padding: 0.2em;
  &:hover {
    color: $secondaryColor;
    @include transition();
  }
}
header {
  margin-top: 35vh;
  overflow: hidden;
  padding: 2.7rem;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  span {
    color: $secondaryColor;
  }
}
h2 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
}
.nav-list {
  display: none;
}
.fab {
  font-weight: bold;
}
